<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>bobafetch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>02EB7D841C46206C00AD8522</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02EB7D981C46206C00AD8522</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02EB7DA31C46206C00AD8522</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
